* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

:root {
  --main-bg-color: #0057ff;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.mainbg {
  background-color: var(--main-bg-color);
  color: #ffffff;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: red;
}

html {
  overflow-y: overlay
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
}

.modal {
  overflow-y: overlay
}

.modal::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 5px;
}