* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

:root {
  --main-bg-color: #0057ff;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.mainbg {
  background-color: var(--main-bg-color);
  color: #ffffff;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: red;
}